@charset "utf-8";

/*==============Definicoes de Fonte========*/

/*fonte do google*/
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
/*fonte definida*/


/*==============Definicoes do Corpo===========*/
body{
    background-color: #fff;
    color: rgba(0,0,0,0.8);
    font-family: 'Verdana' , Times, 'Sans-serif';
}

div#alerta-mobile{
    display: none;
}
div#mobile{
	display:none;
}

div#interface{
    /*o tamanho da interface é 800pixels*/
    width: 800px;
    /*o fundo*/ 
    background-color: #fff;
    /*cima direita baixo esquerda*/
    margin: -20px auto 0px auto;
    /*horizontal vertical esfumaçado cor*/
    box-shadow: 5px 5px 40px rgba(130,162,244, 0.8); 
    /*define o espacamento interior*/
    padding: 10px 10px 10px 10px;
}

p{
    text-align: justify;
    text-indent: 50px;
}

p#direitos:hover{
    transition: 2s;
}

/*==============Definicoes do Corpo===========*/


/*===============Formatacao cabeçalho============*/
/*# = id
. = class*/
header#cabecalho{
    /*borda interior com 1px ! cor preta ! tipo double*/
    border-bottom: 2px rgba(130,162,244, 0.8) double;
    border-left: 2px rgba(130,162,244, 0.8) double;
    border-right: 2px rgba(130,162,244, 0.8) double;
    border-radius: 10px;
    /*altura*/
    height: 150px;
    /*fundo*/
    /*background: url("../_imagens/gustavo.jpg") no-repeat 0px 80px;*/
}

header#cabecalho h1{
    text-decoration: underline;
    font-size: 30px;
    color: black;
    text-shadow: 1px 1px 1px rgba(0, 0,0, 0.6);
    padding: 0px;
    padding-left: 15px;
    padding-top: 10px;
    margin-bottom: 0px;
    position: relative;
}

header#cabecalho h2{
    position: relative;
	font-size: 10px;
    color: black;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    margin-top: 0px;
    padding: 0px;
    padding-left: 15px;
}

header#cabecalho img#icone{
    position: relative;
    width: 200px;
    height: 121px;
    left: 500px;
    top: -45px;
}

/*===============Formatacao cabeçalho============*/

/*============Formatacao Imagens e Legendas========*/
figure.foto-legenda{
    position: relative;
    /*expressura tipo e cor*/
    border: 2px solid rgba(130,162,244, 0.8) ;
    border-radius: 30px;
    box-shadow: 1px 1px 4px black;
}

figure.foto-legenda img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

figure.foto-legenda figcaption{
    /*zero de opacidade*/
    opacity: 0;
    position:  absolute;
    top: 0px;
    border-radius: 30px;
    background-color: rgba(0,0,0,0.10);
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.foto-legenda:hover figcaption{
    opacity: 1;
}
/*============Formatacao Imagens e Legendas========*/

/*===========Formatacao do Menu============*/
nav#menu{
    /*deixa o menu em linha*/
    display: inline-block;
}
nav#menu ul{
    /*tira todos os estilos*/
    list-style: none;
    /*todo o texto fica maiusculo*/
    text-transform: uppercase;
    /*deixa na posicao absoluta em relacao a tudo*/
    position: absolute;
    top: -20px;
    left: 500px;
}

nav#menu h1{
    display: none;
}

nav#menu li{
    /*deixa a lista em uma linha*/
    display: inline-block;
    border-radius: 10px 10px 10px 10px;
    border-bottom: 1px black solid;
    /*background-color: #fff;*/
    background: linear-gradient(to top, #fff, rgba(130,162,244, 0.8) 130% );
    /*espaco entre os botoes*/
    padding: 10px;
    margin: 2px;
    transition: 1s;
}

nav#menu a{
    color: black;
    text-decoration: none;
}

nav#menu li:hover{
    /*background: rgba(130,162,244, 0.8);*/
     background: linear-gradient(to top, #000, rgba(130,162,244, 0.8) 80% );
    color: #fff;
    transition: 1s;
}
/*===========Formatacao do Menu============*/

/*==============trabalhando com sessoes================*/
section#corpo{
    display: block;
    width: 457px;
    float: left;
    border-right: 2px double rgba(130,162,244, 0.8);
    padding-right: 15px;
    padding-left: 10px;
    padding-bottom: 10px;
}

section#corpo h1{
    font-style: oblique;
    color: #fff;
    padding-left:5px;
    background-color: rgba(130,162,244, 0.8);
}

/*outros formatos*/
section#corpo-full{
    display: block;
    width: 800px;
    padding: 10px;
}

section#corpo-full h1{
    font-style: oblique;
    color: #fff;
    padding-left:5px;
    background-color: rgba(130,162,244, 0.8);
}

article#noticia-principal h2{
    font-size: 12px;
    color: #666666;
    background-color: #dddddd;
    padding: 5px;
    margin: -20px 30px 0px 10px;
}
/*outros formatos*/

/*tabela*/
table#tabelaspec{
    border: 1px solid black;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

table#tabelaspec td{
    border: 2px double black;
    padding: 10px;
    vertical-align: top;
}

/*bloco para uso lateral*/
aside#lateral{
    display: block;
    width: 300px;
    float: right;
    margin: 5px;
}

aside#lateral h1{
    font-size: 14px;
    font-style: oblique;
    color: #fff;
    padding-left:5px;
    background-color: rgba(130,162,244, 0.8);
}
/*==============trabalhando com sessoes================*/

/*================Rodapé==========*/
footer#rodape{
    clear: both;
    border-top: 2px double rgba(130,162,244, 0.8);
    border-left: 2px double rgba(130,162,244, 0.8);
    border-right: 2px double rgba(130,162,244, 0.8);
    border-radius: 10px;
}

footer#rodape p{
    text-align: center;
}

footer#rodape a{
    text-decoration: none;
    color: rgba(130,162,244, 0.8);
    transition: color 3s;
}

footer#rodape a:hover{
    color: black;
}
/*================Rodapé==========*/


/*codigo responsivo*/
@media screen and (max-width: 600px){
    div#interface{
        width: 300px;
        box-shadow: none;
        margin: -20px auto 0px auto;
    } 

    header#cabecalho{
        width: 280px;
        height: 190px;
    }

    header#cabecalho hgroup{
        float: left;
        padding-right: 10px;
    }

    header#cabecalho h1{
        font-size: 10px;
    }
    
     header#cabecalho h2{
        font-size: 6px;
    }

    header#cabecalho img#icone{
        display: none;
    }

    figure.foto-legenda{
        display: none;
    }
    
    nav#menu ul{  
        font-size: 10px;
        position: relative;
        float: top;
        top: -60px;
        left: 130px;
    }
    
    nav#menu li{
        display: block;
        width: 60px;
        height: 20px;
    }
    section#corpo{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 260px;
        border: 2px double rgba(130,162,244, 0.8);
        border-radius: 10px;
    }

    section#corpo-full{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 260px;
        border: 2px double rgba(130,162,244, 0.8);
        border-radius: 10px;
    }
    
    h1.no-css{
        display: none;
    }
	
	button.no-css{
		display:none;
	}
	
	div#mobile{
		display:block;
		color: rgba(130,162,244, 0.4);
	}
    
    iframe{
        display: none;
    }

    aside#lateral{
        display: none;
    }

    footer#rodape{
        display: none;
    }
}